*/.DS_Store
prototype/mac/AXR Test App.xcodeproj/project.xcworkspace/xcuserdata/miro.xcuserdatad/UserInterfaceState.xcuserstate

prototype/mac/AXR Test App.xcodeproj/xcuserdata/miro.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
