# CMakeLists.txt prevents in-source builds, but the process will still get far
# enough such that a few CMake files are introduced into the source directory
CMakeCache.txt
CMakeFiles

# Exclude temp nibs and swap files
*~.nib
*.swp
# Dependency installer script logs its starting and ending times
dependencies/install.log

# Exclude OS X folder attributes
.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

