[submodule "prototype/win/cairosdl"]
	path = prototype/win/cairosdl
	url = git://people.freedesktop.org/~joonas/cairosdl
[submodule "prototype/linux/cairosdl"]
	path = prototype/linux/cairosdl
	url = git://people.freedesktop.org/~joonas/cairosdl
[submodule "prototype/resources/framework"]
	path = prototype/resources/framework
	url = https://github.com/AXR/Framework.git
