# CMakeLists.txt prevents in-source builds, but the process will still get far
# enough such that a few CMake files are introduced into the source directory
CMakeCache.txt
CMakeFiles

# In-source doxygen builds
src/core/docs
