# Correct veosotano to Miro Keller
Miro Keller <veosotano@gmail.com>

# One commit has wrong email address
Jake Petroules <jake.petroules@petroules.com> <jake.petroules@gmail.com>

# Valerij has one commit under his username
Valerij Primachenko <vprimachenko@ya.ru>
